<script>var game=<%= @game.id %>
        var player1='<%= @player1.name %>'
        var player2='<%= @player2.name %>'
</script>

<div class="container">
  <h1>Rubily Racer Game <span="game_id"><%= @game.id %></span></h1>

    <table class="racer_table">
      <tr id="player1_strip">
        <th>Player 1: <span id="p1_name"><%= @player1.name %></span></th>
        <td class="active"><img id="henry" src="/images/henry.jpg"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        
      </tr>

      <tr id="player2_strip">
        <th>Player 2: <span id="p2_name"><%= @player2.name %></span></th>
        <td class="active"><img id="uku" src="/images/uku.jpg"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

<div class="finish">
<!--   <p> Player xx is the winner!</p> -->
  <span id="winner"></span> 
</div>

</div>
